<!-- Vista para inventario 
Fecha creado: 03/09/2014
Fecha actualizado: 12/09/2014
Propósito: Generar esquema de funcionamiento para el inventario básico
Cambio realizado: Presentacion sobre un template "hijo" sobre su "padre", Ln 6-10; 39
Fecha actualizado: 17/09/2014
Cambio realizado: Presentacion de la operacion en la grilla, Ln 32-36
 Fecha actualizado: 18/09/2014
 Cambio realizado: Ajuste de titulos de la grilla, Ln 15; 19-23-->
{% extends "web/base.html" %}
{% block title %}
	Listado de Inventario
{% endblock %}
{% block content %}	
	<strong style="align:center"><h2>Grilla para listado de inventario</h2></strong>
		<table border=1 size=100%>		
			<!-- Titulos -->
			<tr>
				<th align="center">Material</th>
				<th align="center">Cantidad solicitada</th>
				<!--<th align="center">Cantidad disponible</th>-->
				<th align="center">Bodega</th>
				<th align="center">Fecha/Hora</th>
				<th align="center">Operaci&oacute;n</th>
			</tr>
			<!-- Codigo para renderizacion del inventario de la BD-->			
			{% if inventario_lst %}
			{% for elemento in inventario_lst%}
			<tr>
				<!-- Elemento del inventario -->
				<td><strong>{{elemento.Ref_Producto}} </strong></td>
				<td>{{elemento.Cantidad}}</td>
				<!--<td>
				{{elemento.Cantidad_1}}
				</td>-->
				<td>{{elemento.No_Posicion}}</td>
				<td>{{elemento.Fecha_Hora}}</td>
				{% if elemento.Operacion == 'ENT' %}				  
				<td>Entrante</td>
				{% elif elemento.Operacion == 'SAL' %}
				<td>Saliente</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% else %}
			<table>
				<tr><td>No hay elementos en inventario!</td></tr>
			</table>
			{% endif %}
		</table>
{% endblock %}